@model Client
<div class="client-card" >
    <div class="client-checkbox-container">
        <input type="checkbox" name="" id="">
    </div>
    <div class="client-info">
        <div class="client-img-container">
            <img src="@Model.Image" alt="">
        </div>
        <div class="client-list-item">
            <p>@Model.ClientName</p>
            <p>@Model.Email</p>
        </div>
    </div>
    <div class="client-list-item">
        <p>@Model.Location</p>
    </div>
    <div class="client-list-item">
        <p>@Model.Phone</p>
    </div>
    <div class="client-list-item">
        <p>25/3 -25
            @* @Model.Client.Created *@
        </p>
    </div>
    <div class="client-list-item">
        <div class="active-container">
            <p class="client-active">Active</p>
        </div>

    </div>
    <div class="client-list-item">
        <button class="dots-container" data-type="dropdown"
                data-target="#client-dropdown-@Model.Id">
             <i class="fa-solid fa-ellipsis"></i>
        </button>
    </div>
    @await Html.PartialAsync("Partials/ManagementComponents/_ClientDropdown", Model.Id)
</div>