@model MemberViewModel

<div class="member-card">
        <div class="upper-card">
        <button class="dots-container" data-modal="true" data-type="Member" data-target="#MemberModal" data-id=@Model.Member.Id>
                <img src="/images/Dot_2.svg" alt="" />
            </button>
            @await Html.PartialAsync("Partials/ManagementComponents/_MemberDropdown")
        </div>
        <div class="member-img-container">
            <img src="/images/avatar1.svg" alt="" />
        </div>
        <div class="member-details">
        <h4>@Model.Member.FirstName @Model.Member.LastName</h4>
            <div class="member-title-card">@Model.Member.JobTitle</div>
        </div>
        <div class="member-contact-info">
            <p>@Model.Member.Email</p>
            <p>@Model.Member.Phone</p>
        </div>
    <a class="btn blue-btn @(Context.Request.Path == "/members/chat" ? "active" : "")" asp-action="Chat" asp-controller="Members">Message</a>
    </div>
@await Html.PartialAsync("Partials/ManagementComponents/_MemberEditModal", Model.EditMemberViewModel)
